<div class="large-12 columns">
  <hr>

  <div class="row">
    <div class="large-6 columns">
      <p>Dedicated to the Laker girls ;-)</p>
    </div>

    <div class="large-6 columns">
      <ul class="inline-list right">
        <li>
          <a href="http://fe.up.pt">feup</a>
        </li>
      </ul>
    </div>
  </div>
</div>