%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a Bela Flor

  %section.top-bar-section
    %ul.right
      %li
        %a(href="#") Home
      %li
        %a(href="#") Catalog
      %li
        %a(href="#") About