.large-12.columns
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a Bela Flor

    %section.top-bar-section
      %ul.right
        - if not signed?
          %li
            = link_to('register', url_for(controller: 'clients', action: 'new'))
        - else
          %li
            = link_to('profile', current_user)
        %li
          = link_to('catalog', url_for(controller: 'articles', action: 'index'))
        %li
          = link_to('about', url_for(controller: 'pages', action: 'about'))
