<div class="large-12 columns">
  <h1><%= "We are delighted to have you as our client!" %></h1>
  <br />
  <h4><%= "Just fill the form and you will be ready to go." %></h4>

  <br />
  
  <%= render 'form' %>

  <%= link_to 'Back', clients_path %>
</div>