.content
  .row
    .small-12.columns
      .panel
        %ul{ :class => "orbit-content", :data => { :orbit => true } }
          %li(data-orbit-slide="headline-1")
            %div
              %h2 Headline 1
              %h3 Tass bem ou kÊ?!
          %li(data-orbit-slide="headline-2")
            %div
              %h2 Headline 2
              %h3 BLALBLAALB
          %li(data-orbit-slide="headline-3")
            %div
              %h2 Headline 3
              %h3 snasdasndandlasd
      %a.button HULLO