<%
prods = [0, 1, 2, 3, 4, 5]
%>
<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= "Catálogo da Bela Flor" %></h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
      <%- prods.each do |p| %>
          
          <div class="small-12 medium-6 large-4 columns">
            <div class=" product-box">
              <h2><%= "Produto #{p} #{p.class}" %></h2>
              <div class="">
                <img class="product-thumb" src="http://fillmurray.com/200/200" alt="<%= p.class %>">
              </div>
            </div>
          </div>

      <% end %>
      </div>
    </div>
  </div>
</div>