.row
  .small-12.columns
    .small-6
      %img(src='http://fillmurray.com/600/480')
    .small-6
      .product-info
        %h2= product.id
        %ul.info
          %li= product.id
          %li= product.id
          %li= product.id

